---
import Layout from "../layouts/Layout.astro";
import Topbar from "../components/Topbar.astro";
---

<Layout title="Luis Cassih - Software Developer">
  <main class="flex flex-col">
    <Topbar class="flex h-[50px] items-center px-5" />
    <div class="flex flex-col h-[calc(100vh-50px)]">
      <div class="flex justify-center items-center flex-1">
        <div class="w-[270px] h-[270px]">
          <svg
            width="250"
            height="250"
            viewBox="0 0 250 250"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M50.229 106.841C50.229 106.841 138.747 66.4008 215.047 163.078C215.047 163.078 179.684 163.818 122.046 126.253C109.781 118.258 108.636 128.716 111.036 132.376C128.464 158.911 118.856 199.291 118.714 198.413C113.136 164.511 103.106 143.696 49.7915 145.116C24.1265 145.801 19.594 122.873 50.229 106.841Z"
              fill="currentcolor"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M82.8859 89.9374C82.8859 89.9374 144.803 92.3099 164.566 88.6199C184.326 84.9324 217.526 69.9124 217.526 69.9124C217.526 69.9124 165.093 63.8524 144.013 66.2249C122.936 68.5949 82.8859 89.9374 82.8859 89.9374Z"
              fill="#026cd6"
              stroke-width="0.01"
              stroke-miterlimit="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M59.2981 134.465C65.0467 134.465 69.7069 129.805 69.7069 124.056C69.7069 118.308 65.0467 113.648 59.2981 113.648C53.5496 113.648 48.8894 118.308 48.8894 124.056C48.8894 129.805 53.5496 134.465 59.2981 134.465Z"
              fill="#0f0f0f"></path>
          </svg>
        </div>
        <h1 class="font-normal">
          Hi! My name is <span class="text-gradient">Luis Cassih,</span>
          <br />I'm a <span class="text-gradient">Software Developer</span>
        </h1>
      </div>
      <div class="flex flex-col items-center">
        <div>Scroll to know about me</div>
        <div class="py-5">
          <svg
            width="50"
            height="50"
            viewBox="0 0 50 50"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.5417 36.4583L27.0833 50L40.625 36.4583L39.1521 34.9854L28.125 46.0125V0H26.0417V46.0125L15.0146 34.9854L13.5417 36.4583Z"
              fill="#026CD6"></path>
          </svg>
        </div>
      </div>
    </div>
    <div>
      <div>About me</div>
      <div>
        I’m a creative developer who’s specialized in frontend technologies but
        doesn’t mind to work with any tech stack, from backend with
        Java/NodeJS/Rust to ReactJS/Vue and Flutter for mobile. I love acquiring
        new skills, and programming for me is a medium to create things that can
        make impact on people. I always try to improve the environment I’m
        working on, by creating tools, projects, or simply trying to find new
        techniques to make whatever I’m working better.
      </div>
    </div>
  </main>

  <style>
    main {
      margin: 0;
      max-width: 1440px;
    }
    h1 {
      font-size: 3rem;
      font-weight: 800;
      margin: 0;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-position: 0%;
    }
  </style>
</Layout>
