---
import Layout from "../layouts/Layout.astro";
import Topbar from "../components/Topbar.astro";
---

<Layout title="Luis Cassih - Software Developer">
  <main class="flex flex-col">
    <Topbar class="flex h-[50px] items-center px-5" />
    <div class="flex justify-center h-[calc(100vh-50px)]">
      <div class="w-[270px] h-[270px]">photo here</div>
      <h1>
        Hi! My name is <span class="text-gradient">Luis Cassih.</span>
        <br />I'm a <span class="text-gradient">Software Developer</span>
      </h1>
    </div>
  </main>

  <style>
    main {
      margin: 0;
      max-width: 1440px;
    }
    h1 {
      font-size: 3rem;
      font-weight: 800;
      margin: 0;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-position: 0%;
    }
  </style>
</Layout>
