---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="w-max xl:w-auto">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		/* --accent: 124, 58, 237; */
		--accent: 2 108 214;
		--accent-gradient: linear-gradient(45deg, #a9d4ff, #026cd6 99.63%);
		/* rgb(var(--accent)), */ /* #da62c4 30%, */ /* white 60% */
	}
	html {
		font-family: "Source Sans Pro";
		background: linear-gradient(180deg, #0f0f0f 0%, #00152b 100%);
		color: white;
		scroll-behavior: smooth;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}
	.line-gradient {
		background: linear-gradient(
			90deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(2, 108, 214, 0.989583) 19.27%,
			#026dd8 81.77%,
			rgba(0, 0, 0, 0) 100%
		);
	}
</style>
<script>
	let vh = window.innerHeight * 0.01;
	let vw = window.innerWidth * 0.01;
	document.documentElement.style.setProperty("--vh", vh ? `${vh}px` : "1vh");
	document.documentElement.style.setProperty("--vw", vw ? `${vw}px` : "1vw");
</script>
