---
export interface Props {
  title: String;
}
const { title } = Astro.props;
---

<div>
  <head>
    <div>
      <a href="/#works"> Return to home</a>
    </div>
    <h1>{title}</h1>
  </head>
</div>
<style></style>
